.season{
  border-radius: 10px;
  background-color: #343434;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 1s;
}

.season:hover{
  transform: scale(1.05);
}

.season-text{
  text-decoration: none;
}
