<div class="movie-card border-1 surface-border border-round m-2 text-center">
  <div class="d-flex flex-column position-relative">
    <div>
      <p-image class="movie-card-image" src="" alt="Image" width="282" height="423"></p-image>
      <div class="movie-card-image-color"></div>
    </div>
    <h4 class="title position-absolute text-white fs-3 w-100">title</h4>
    <div class="rate d-flex flex-row position-absolute align-items-center">
      <i class="pi pi-star" style="color: white"></i>
      <span class="text-white fs-6 ms-1">10/</span>
    </div>
  </div>
</div>
