.tv-series-card-image-color{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  z-index: 1;
}

.tv-series-card-details-color{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.tv-series-title, .tv-series-genres, .tv-series-rate, .tv-series-description{
  z-index: 10;
}

.tv-series-title{
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.tv-series-description-title{
  top: 10%;
  left: 0;
  z-index: 100;
}

.tv-series-rate, .tv-series-rate-description{
  bottom: 10%;
  left: 10%;
  z-index: 100;
}

.tv-series-description{
  text-align: justify;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  height: calc(5 * 1.75em);
}

.tv-series-rate-genres-description{
  bottom: 10%;
  left: 0;
  z-index: 100;
  font-size: 14px;
  width: 100%;
}
