<div [routerLink]="['/','tvSeries', tvSeries?.id]" class="mt-4">
  <div class=" tv-series-card border-1 surface-border border-round m-2 text-center">
    <div class="d-flex flex-column position-relative"
         (mouseenter)="onHideTitle()"
         (mouseleave)="onShowTitle()">
      <div>
        <p-image class="tv-series-card-image" *ngIf="tvSeries?.poster_path" [src]="imageBaseUrl+tvSeries?.poster_path" alt="Image" width="282" height="423"></p-image>
        <p-image class="tv-series-card-image" *ngIf="!tvSeries?.poster_path" [src]="noImage" alt="Image" width="282" height="423"></p-image>
        <div *ngIf="!showMovieDescription" class="tv-series-card-image-color"></div>
        <div *ngIf="showMovieDescription" class="tv-series-card-details-color"></div>
      </div>
      <h4 *ngIf="!showMovieDescription" class="tv-series-title position-absolute text-white fs-4 w-100">{{tvSeries?.original_name}}</h4>
      <div *ngIf="!showMovieDescription" class="tv-series-rate d-flex flex-row position-absolute align-items-center">
        <i class="pi pi-star" style="color: yellow"></i>
        <span class="text-white fs-6 ms-1">10/ {{tvSeries?.vote_average | number}}</span>
      </div>

      <h4 *ngIf="showMovieDescription" class="tv-series-description-title position-absolute text-white fs-6 w-100">{{tvSeries?.original_name}}</h4>
      <div *ngIf="showMovieDescription" class="tv-series-description position-absolute w-100 p-3">
        <p class="text-white ">{{tvSeries?.overview}}</p>
      </div>
      <div *ngIf="showMovieDescription" class="tv-series-rate-genres-description d-flex flex-column position-absolute">
        <span class="text-white mb-1">{{translateGenre(tvSeries?.genre_ids!)}}</span>
        <div>
          <i class="pi pi-star" style="color: yellow"></i>
          <span class="text-white ms-1">10/ {{tvSeries?.vote_average | number}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

