<footer class="footer-box">
  <div class="container">
    <div class="d-flex flex-row flex-wrap text-white mt-5">
      <div class="d-flex flex-column col-12 md:col-4">
        <h4 class="mb-4">
          movies lists
        </h4>
        <ul>
          <li>
            <a [routerLink]="">Top rated</a>
          </li>
          <li class="my-3">
            <a [routerLink]="">Popular</a>
          </li>
          <li>
            <a [routerLink]="">Upcoming</a>
          </li>
          <li class="my-3">
            <a [routerLink]="">Now playing</a>
          </li>
        </ul>
      </div>

      <div class="d-flex flex-column col-12 md:col-4">
        <h4 class="mb-4">
          Tv series lists
        </h4>
        <ul>
          <li>
            <a [routerLink]="">Top rated</a>
          </li>
          <li class="my-3">
            <a [routerLink]="">Popular</a>
          </li>
          <li>
            <a [routerLink]="">Airing today</a>
          </li>
          <li class="my-3">
            <a [routerLink]="">On the air</a>
          </li>
        </ul>
      </div>

      <div class="d-flex flex-column col-12 md:col-4">
        <h4 class="mb-4">
          easy access
        </h4>
        <ul>
          <li>
            <a [routerLink]="">about us</a>
          </li>
          <li class="my-3">
            <a [routerLink]="">contact us</a>
          </li>
          <li>
            <a [routerLink]="">blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
